@use 'reset';
@use '@fontsource/roboto/latin.css';
@use 'animation';
@use 'form';

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

:root {
  --color-primary-100: #f3f9eb;
  --color-primary-200: #e2f1d1;
  --color-primary-300: #cce5b0;
  --color-primary-400: #b3d88a;
  --color-primary-500: #8bc43f;
  --color-primary-600: #71a02f;
  --color-primary-700: #577c23;
  --color-primary-800: #3d5718;
  --color-primary-900: #24330e;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
