@use "reset";
@use "@fontsource/roboto/latin.css";
@use "animation";
@use "form";

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

:root {
  --color-primary: #8bc43f;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}